flask - фреймворк для разработки веб-приложений
python-dotenv - библиотека для регистрации переменных окружения, для их автоматического импорта
flask-wtf - расширение flask для обработки веб-форм
flask-login

