<html>
    <head><title>Панель администратора</title></head>
    <body>
        <div name="first_bookmark" class="form-group">
            <h1> {{ current_user.u_name }} </h1>
            <h1>Добавление нового пользователя</h1>
            <form action="" method="POST">
                <label>Имя пользователя:</label><br>
                    <input type="text" name="user_name"><br>
                <label>Пароль:</label><br>
                    <input type="password" name="user_pass"><br>
                <label>Роль:</label><br>
                    <select name="user_role" id="user_role">
                        <option value="empty"> </option>
                        <option value="admin">Admin</option>
                        <option value="accauntant">Accauntant</option>
                        <option value="recruiter">Recruiter</option>
                        <option value="supervisor">Supervisor</option>
                    </select><br><br>
                    <input type="submit" value="Добавить" name="user_add"><br><br>
                    <a href="{{ url_for('logout') }}">Logout</a>
                    
            </form>
        </div>
           
    </body>
</html>