<html>
    <head><title>Панель администратора</title></head>
    <body>
        <div name="first_bookmark">
            <h1>Добавленеи нового пользователя</h1>
            <form>
                <label>Имя пользователя:</label><br>
                    <input type="text" name="user_name"><br>
                <label>Пароль:</label><br>
                    <input type="password" name="user_pass"><br>
                <label>Роль:</label><br>
                    <select name="user_role" id="user_role">
                        <option value="admin">Admin</option>
                        <option value="accauntant">Accauntant</option>
                        <option value="recruiter">Recruiter</option>
                        <option value="supervisor">Supervisor</option>
                    </select><br><br>
                    <input type="submit" value="Добавить" name="user_add">
            </form>
        </div>
    </body>
</html>